*{
    margin: 0;
    padding: 0;
}
:root{
    --white: #FFFFFF;
    --dark: #000000;
    --tomato: #E6533C;  
}
html{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    background-color: var(--dark);
}

/* common class */
.btn-first, .btn-second{
    color: var(--white);
    background-color: var(--tomato);

    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px 35px;
    margin: 7px;

    border-radius: 42px;
}
.btn-first{
    background-color: var(--tomato);
    border: none;
}
.btn-second{
    background-color: var(--dark);
    border: 1px solid var(--white);
}

      /* description and titles */
.description-one, .description-two{
    color: var(--white);
    opacity: .5;

    font-weight: 400;
    line-height: 150%;
}
.description-two{
    font-size: .88rem;
}
.header-title, .section-title, .subsection-title{
    color: var(--white);
    font-weight: 900;
    line-height: 120%;
}
.header-title{
    font-size: 4.5rem;
}
.section-title{
    font-size: 3rem;
    text-align: center;
}
.subsection-title{
    font-size: 1.75rem;
}
   /* others */
.flex{
    display: flex;
}
.grid{
    display: grid;
}



nav, .banner{
    width: 80%;
    margin: 0 auto;
}

nav, .banner, .section-one{
    padding: 15px 0;
}


/* header styles */
header{
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
}
             /* nav styles */
nav{
    justify-content: space-between;
    align-items: center;
}
nav > h4{
    color: var(--tomato);
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
}

nav > ul{
    padding: 12px 4px;
    border-radius: 45px;
    border: 2px solid rgba(255, 255, 255, .1);
}
nav > ul > li{
    list-style: none;
}
nav > ul > li > a{
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;

    margin-right: 40px;
}
#home{
    background-color: var(--tomato);
    padding: 8px 20px;
    border-radius: 45px;
}
       /* banner */
#shape{
    font-size: 4.8rem;
    font-weight: 400;
    font-family: 'Parisienne', cursive;
}
.banner{
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}


.videos{
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 8px;
    padding: 15px;
    max-width: 160px;
}


#tuto-number, #free-number{
    color: var(--white);
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 5px;
}
#tuto-number{
    font-size: 1.5rem;
}
#free-number{
    font-size: 2.5rem;
}

#tutorial {
    gap: 15px;
    position: relative; 
    margin-top: -150px;
    margin-left: -100px;
}

#free{
    position: relative;
    top: -400px;
    right: -200px;
}

.banner>div>h3, .banner>div>p{
    margin-bottom: 15px;
}

/* section one - change your habit */
.section-one{
    background-color: red;
}
.section-one>p{
    max-width: 70%;
    text-align: center;
}





