*{
    margin: 0;
    padding: 0;
}
:root{
    --white: #FFFFFF;
    --dark: #000000;
    --gray: #222;
    --tomato: #E6533C; 
    --lightgray: rgba(255, 255, 255, .1);
}
html{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    background-color: var(--dark);
}

/* common class */
.btn-first, .btn-second{
    color: var(--white);
    background-color: var(--tomato);

    font-size: 1.1rem;
    font-weight: 600;
    padding: 12px 35px;
    margin-top: 15px;

    border-radius: 42px;
}
.btn-first{
    background-color: var(--tomato);
    border: none;
}
.btn-second{
    background-color: var(--dark);
    border: 1px solid var(--white);
    margin-left: 10px;
}

      /* description and titles */
.description-one, .description-two{
    color: var(--white);
    opacity: .5;

    font-weight: 400;
    line-height: 150%;
}
.description-two{
    font-size: .88rem;
}
.header-title, .section-title, .section-subtitle{
    color: var(--white);
    font-weight: 900;
    line-height: 120%;
}
.header-title{
    font-size: 4.5rem;
}
.section-title{
    font-size: 3rem;
    text-align: center;
}
.section-subtitle{
    font-weight: 700;
    font-size: 1.75rem;
}
   /* others */
.flex{
    display: flex;
}
.grid{
    display: grid;
}



nav, .banner, #section-one, #section-two, #section-three, #section-six,
#chart-table/* #section-four>div>div */, #section-five, footer>div{
    max-width: 80%;
}

nav, .banner{
    margin: 0 auto;
    margin-bottom: 50px;
}
#section-one, #section-two, #section-three, #section-four,
#section-five, #section-six{
    margin: 0 auto;
    margin-bottom: 100px;
}


/* header styles */
header{
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
}
             /* nav styles */
nav>a{
    display: none;
}
nav{
    padding-top: 25px;
    justify-content: space-between;
    align-items: center;
}
nav > h4{
    color: var(--tomato);
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
}

nav > ul{
    padding: 12px 4px;
    border-radius: 45px;
    border: 2px solid var(--lightgray);
}
nav > ul > li{
    list-style: none;
}
nav > ul > li > a{
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;

    margin-right: 40px;
}
#home{
    background-color: var(--tomato);
    padding: 8px 20px;
    border-radius: 45px;
}
       /* banner */
#shape{
    font-size: 4.8rem;
    font-weight: 400;
    font-family: 'Parisienne', cursive;
}
.banner{
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}
#banner-text{
    max-width: 800px;
}

.videos{
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid var(--lightgray);
    border-radius: 8px;
    padding: 15px;
    max-width: 160px;
}


#tuto-number, #free-number{
    color: var(--white);
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 5px;
}
#tuto-number{
    font-size: 1.5rem;
}
#free-number{
    font-size: 2.5rem;
}

.description{
    color: var(--white);
    opacity: .65;
}

#tutorial{
    gap: 15px;
    position: relative; 
    margin-top: -150px;
    margin-left: -100px;
}

#free{
    position: relative;
    top: -400px;
    right: -200px;
}

.banner>div>h3, .banner>div>p{
    margin-bottom: 15px;
}

/* section one - change your habit */

#section-one>p{
    max-width: 60%;
    text-align: center;
    margin: 10px auto;
}
#section-one>div{
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8%;
}


.habit>img{
    width: 100%;
    border-radius: 50%;
}
.habit>p{
    text-align: center;
}
.habit-title{
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
}
.habit>img, .habit>p{
    margin-bottom: 5px;
}

/* section two - run extra */
#section-two{
    background-color: var(--gray);
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
#section-two>div, #section-two>img{
    margin: 20px 20px 20px 40px;
}
#section-two>div{
    max-width: 50%;
}
#section-two>img{
    max-width: 40%;
    height: 250px;
    border-radius: 8px;
}
#section-two>div>h4, #section-two>div>p{
    text-align: left;
    margin-bottom: 5px;
}
#section-two button{
    padding: 12px 50px;
}

/* section three */
#section-three>h4, #section-three>p{
    text-align: left;
    margin-bottom: 10px;
}
#section-three>div{
    margin: 40px 0;
    width: 100%;
    aspect-ratio: 1 / .4;
}

#row-1 p, #row-2 p{
    margin: 40px;
    text-align: right;
    opacity: 1;
}
#row-1{
    grid-template-columns: 1fr 2fr 1fr;
}
#row-2{
    grid-template-columns: 1.7fr 1fr 1.3fr;
}
#item-1{
    background: linear-gradient(0deg, rgba(6,255,210,.5) 0%, rgba(6,255,210,.5) 100%),
                url("assets/images/exercise1.jpg");
}
#item-2{
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.30) 0%, rgba(255, 0, 0, 0.30) 100%),
                url("assets/images/exercise2.png");
}
#item-3{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),
                url("assets/images/exercise3.png");
}
#item-4{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),
                url("assets/images/exercise4.png");
}
#item-5{
    background: linear-gradient(0deg, rgba(66, 255, 0, 0.30) 0%, rgba(66, 255, 0, 0.30) 100%),
                url("assets/images/exercise5.jpg");
}
#item-6{
    background: linear-gradient(0deg, rgba(0, 71, 255, 0.30) 0%, rgba(0, 71, 255, 0.30) 100%),
                url("assets/images/exercise6.jpg");
}
#item-1, #item-2, #item-3, #item-4, #item-5, #item-6{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

/* section four */
#section-four>h4, #section-four>p{
    max-width: 55%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 5px;
}
#section-four>div{
    background-color: var(--gray);
    margin-top: 50px;
    padding: 50px 0;
}
#chart-table{
    max-width: 80%;
    margin: 0 auto;
    /* background-color: red; */
}
#left, #right{
    width: 50%;
}
    /* table - left part */
#left>h4{
    margin-bottom: 40px;
}
#left>table{
    border-collapse: collapse;
}
#left td, #left th{
    border: 1px solid var(--lightgray);
    padding: 8px 25px;
}
#thead{
    text-align: left;
    opacity: 1;
}

    /* input form */
#right>h4, #right>p{
    margin-bottom: 10px;
}
#right>div{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}
.input-box:nth-child(2n){
    justify-content: end;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 5px);
    margin-bottom: 10px;
}
.input-box input{
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: var(--lightgray);
    border: none;
}
.input-box:nth-child(5){
    width: 100%;
}

#right button{
    margin-top: 20px;
    padding: 12px 50px;
}

/* section five */
#section-five>h4, #section-five>p{
    width: 55%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
}
#section-five>div{
    background-color: var(--lightgray);
    margin-top: 50px;
    border-radius: 18px;
    grid-template-columns: repeat(3,1fr);
    padding: 15px;
    gap: 15px;
}

#trainer>div{
    height: 250px;
    border-radius: 18px;
}
.trainer-des{
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 900;

    padding: 0 15px;
    margin-top: 200px;
}
#trainer p{
    padding: 0 15px;
}

#trainer-one{
    background-image: url('assets/images/trainer1.png');
}
#trainer-two{
    background-image: url('assets/images/trainer2.png');
}
#trainer-three{
    background-image: url('assets/images/trainer3.png');
}
#trainer-four{
    background-image: url('assets/images/trainer4.png');
}
#trainer-five{
    background-image: url('assets/images/trainer5.png');
}
#trainer-six{
    background-image: url('assets/images/trainer6.png');
}
#trainer-one, #trainer-two, #trainer-three, #trainer-four,
#trainer-five, #trainer-six{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* section six */
#section-six>div{
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5%;
    margin-top: 30px;
}
.training-type{
    background-color: var(--lightgray);
}
.training-type>img{
    max-width: 30%; 
    aspect-ratio: 1 / 1; 
    margin: 10px;
    margin-bottom: 10px;
}
.training-type>p{
    margin: 10px 0;
    padding: 0 15px;
}
.join{
    color: var(--white);
    display: inline-block;
    margin: 30px 10px;
}



/* footer section */
footer{
    background-color: var(--lightgray);
}
footer>div{
    margin: 0 auto;
    padding: 45px 0;
    border-bottom: 2px solid var(--lightgray);
}

#footer-left, #footer-right{
    width: 50%;
}

   /* left part */
#footer-left>h4{
    color: var(--tomato);
    font-weight: 800;
    font-size: 4rem;
    font-style: italic;
    margin-bottom: 20px;
}
#footer-left p{
    width: 80%;
}

   /* right part */
#footer-right>div{
    width: 50%;
}
#footer-right a{
    text-decoration: none;
    margin-bottom: 5px;
}
#footer-right h4, #footer-right p{
    margin-bottom: 10px;
}

footer>p{
    text-align: center;
    padding: 30px;
}

